*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
    line-height: 1.4;
    letter-spacing: 1px;
}

.MainHD{
    height: 100vh;
    width: 100vw;
    background-image:url('../img/pozadina.jpg');
    background-size:cover;
    background-position:center;
}

.text{
    position: absolute;
    z-index:1;
    top:45%;
    left:40%;
    text-align: center;
}
.text p{
    font-size:14px;
}

.socialMedia{
    position: absolute;
    z-index:1;
    top:90%;
    left:85%;
}
.socialMedia a{
    text-decoration: none;
    color:white;
}

.socialMedia a:hover{
    color:#279ef9;
}

.o_meni{
    position: absolute;
    z-index:1;
    top:90%;
    margin-left:10%;
}
.o_meni a{
    color:white;
    font-size:25px;
}

.o_meni a:hover{
    color:#279ef9;
}


@media(max-width:580px)
{
    body{
        line-height: 1.2;
        font-size:14px;   
    }

    .text p{
        font-size:11px;
    }

    .socialMedia{
        font-size:13px;
        margin-right:2%;
        margin-left:70%;
        left:0;
    }

}