*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
    line-height: 1.4;
    letter-spacing: 1px;
    background-image:url('../img/PozStr.jpg');
    background-size:cover;
}

.MainHD{
    height: 100vh;
    width: 100vw;
    background-image:url('../img/pozadina.jpg');
    background-size:cover;
    background-position:center;
}

.text{
    position: absolute;
    z-index:1;
    top:45%;
    left:40%;
    text-align: center;
}
.text p{
    font-size:14px;
}

.socialMedia{
    position: absolute;
    z-index:1;
    top:85%;
    left:75%;
}
.socialMedia a{
    text-decoration: none;
    color:white;
}

.socialMedia a:hover{
    color:lightblue;
}

.AboutMe{   
    color:white;
    text-align: center;
    margin-top:3%;
}

.Naslov {
    padding:3% 0;
    font-size:17px;
}

.slike{
    display:flex;
    justify-content: space-between;
    padding: 0 7%;
}
#sl1, #sl2, #sl3{
    border-radius:10px;
    width:30%;
    height:30%;
}

.ProcitajVise{
    margin-top:3%;
    padding:3px;
    background-color:darkgray;
    width:10%;
    margin-left:45%;
    border-radius: 	10px;
}

.AboutMe a{
    text-decoration: none;
    color:black;
}

.ProcitajVise:hover{
    color:wheat	;
}

@media(max-width:560px)
{
    body{
        line-height: 1.2;
        font-size:14px;   
    }

    .text p{
        font-size:11px;
    }

    .socialMedia{
        font-size:13px;
        left:75%;
    }

    .AboutMe{   
        margin-top:7%;
    }

    .Naslov {
        margin-top:4%;
        font-size:15px;
    }

    .slike{
        display:flex;
        flex-direction: column;
    }

    #sl1, #sl2, #sl3{
        border-radius:10px;
        width:100%;
        height:100%;
        margin-bottom: 5%;
    }

    .ProcitajVise{
        margin-top:3%;
        padding:4px;
        background-color:darkgray;
        width:30%;
        margin-left:35%;
        border-radius: 	10px;
    }
}
